.view a{
  color: white;
  font-size: 3rem;
  padding: 0 1%;
  margin: 0.5%;
  border: 1px solid #fff;
  border-radius: 12px;
}
.view a:hover{
  color:rgb(236, 246, 248);
  background-color: #fff;
}
.grid-view{
  display: flex;
  flex-wrap: wrap;
}
.card{
  margin:2%;
  margin-top: 1%;
}
a.add{
  margin-right: 5%
}