<section class="pt-5">
  <div class="row justify-content-center pt-5 view m-0">
      <a routerLink='/'>
        <i class="fas fa-th"></i>
      </a>
      <a routerLink='/product-list-list'>
        <i class="fas fa-th-list"></i>
      </a>
  </div>
  <div class="row justify-content-center grid-view m-0">
      <div class="col-10">
        <div class="card mb-3" style="max-width: 80%;" *ngFor="let item of items">
          <div class="row no-gutters">
            <div class="col-md-4">
              <a (click)='viewDetails(item)'>
                <img src={{item.src}} class="card-img" alt={{item.name}} width="100%">
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title pb-3">{{item.name}}</h2>
                <h5 class="card-subtitle text-muted pb-3">{{item.categ}}</h5>
                <p class="card-text text-success">{{item.price}}</p>
                <a class="btn btn-primary add" (click)="add(item.id)">+ Add to Card</a>
                <a class="btn btn-danger remove" (click)="remove(item.id)">Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>


